/* 样式重写 */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, del, dfn, em, img, small, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, section, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 标签向下兼容 */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 公共样式 */
body{
	font: 12px/22px "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
	color: #333;
	overflow: hidden;
}
input, textarea, select{
	margin: 0;
	padding: 2px 4px 3px 4px;
	border: 1px solid #ccc;
	font: 12px/1.4em "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
	color: #5f5f5f;
}
.rpm-file-input{
	padding: 0;
	border: 0 !important;
	width: 160px;
}
a{text-decoration: none;}
.clear{
	clear: both;
}
.clearfix:after,
.clearfix:before {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both
}

.clearfix {
	/* [disabled]zoom:1; */
}


/* 提示信息样式 */
.tips{
	width: 400px;
	margin: 120px auto 0 auto;
}
.tips a{
	color: #09c;
}
.tips_icon{
	float: left;
	width: 90px;
}
.tips_icon i{
	font-size: 70px;
	color: #EA5004;
}
.tips_info{
	float: left;
	padding: 14px 0;
}
.tips_message{
	font-size: 16px;
}
#jump_seconds{
	font-style: normal;
}


/* 头部样式 */
#rpm-header{
	height: 50px;
	line-height: 50px;
	background: #09c;
	overflow: hidden;
	color: #fff;
}
#rpm-header h1{
	float: left;
}
#rpm-header h1 i{
	float: left;
	width: 140px;
	font-style: normal;
	font-size: 18px;
	padding: 0 20px;
	background: #0087b4;
	text-align: center;
}
#rpm-header h1 span{
	float: left;
	font-size: 14px;
	padding-left: 20px;
}
.rpm-info{
	float: right;
	padding-right: 20px;
}
.rpm-btn-logout{
	color: #fff;
}


/* 侧边栏样式 */
#rpm-sidebar{
	position: absolute;
	width: 200px;
	background: #293038;
	color: #fff;
	overflow: scroll;
	overflow-x: hidden;
}
#rpm-sidebar-stair{
	position: absolute;
	margin-left: 180px;
	width: 160px;
	background: #E3E9EF;
	color: #333;
}
#rpm-sidebar li, #rpm-sidebar-stair li{
	height: 40px;
	font-size: 12px;
	line-height: 40px;
}
#rpm-sidebar a, #rpm-sidebar-stair a{
	display: block;
	padding: 0 20px;
	color: #fff;
}
#rpm-sidebar-stair a{
	padding: 0 30px;
	color: #333;
}
#rpm-sidebar .rpm-sidebar-title{
	height: 30px;
	text-align: center;
	background: #394555;
}
.rpm-sidebar-title i{
	font-size: 20px;
	line-height: 30px;
}
#rpm-sidebar .on-sidebar-firsta, #rpm-sidebar li a:hover{
	background: #0099CC;
}
#rpm-sidebar li i{
	padding-right: 12px;
	line-height: 40px;
}
#rpm-sidebar-stair-title{
	height: 70px;
	padding: 0 30px;
	line-height: 70px;
	background: #D9DEE4;
	font-size: 13px;
	font-weight: 700;
}
#rpm-sidebar-stair .on-sidebar-seconda, #rpm-sidebar-stair li a:hover{
	background: #f0f3f7;
}


/* 主内容样式 */
#rpm-content{
	position: absolute;
	right: 0;
	height: 100%;
	padding: 20px;
	padding-bottom: 0;
	overflow-y: auto;
	background: #f0f3f7;
}
.rpm-row{
	padding: 8px 12px;
	background: #fff;
}
.rpm-row-title{
	font-size: 13px;
	font-weight: 700;
}
.rpm-row-box{
	padding: 12px;
}
.rpm-row-gap{
	height: 25px;
}
.rpm-stair-page-title{
	height: 50px;
	line-height: 30px;
}
.rpm-stair-page-title i{
	line-height: 30px;
	color: #EA5004;
}
.rpm-stair-page-title span{
	padding-left: 2px;
	font-weight: 700;
}
#edui1{
	width: auto !important;
}

/* 表单部分 */
.rpm-from-row-box{
	margin: 0 22px 22px 22px;
	background: #fff;
	border: 1px solid #eee;
}
.rpm-form-row-title{
	padding: 5px 10px;
	background: #09c;
	color: #fff;
}
.rpm-form-box{
	padding: 8px 0 8px 22px;
}
.rpm-from-row-box .rpm-form-box{
	margin-top: 16px;
}
.rpm-form-box li{
	float: left;
	width: 33%;
	padding: 4px 0;
	min-width: 270px;
	min-height: 40px;
}
.rpm-form-box .rpm-form-row-full{
	width: 100%;
}
.rpm-longinput{
	width: 44%;
	min-width: 140px;
}
.rpm-shortinput{
	width: 70px;
}
.rpm-form-box li label{
	display: inline-block;
	width: 80px;
	padding-right: 12px;
	text-align: right;
}
.rpm-form-box li .radio_lab, .rpm-form-box li .ckbox_lab{
	width: auto;
}
.rpm-form-box li label i{
	font-style: normal;
	font-weight: 700;
	color: #EA5004;
}
.rpm-from-row-btn-box{
	margin: 0 22px;
}
.rpm-form-btn-box{
	padding-left: 110px;
}
.rpm-form-btn-submit,.rpm-form-btn-reset{
	margin: 4px;
	padding: 6px 20px;
	border: 0;
	background: #EA5004;
	color: #fff;
	cursor: pointer;
}
.rpm-form-row-file-box{
	padding: 0 6px;
	line-height: 45px;
}
.rpm-form-row-file-box *{
	vertical-align: middle;
}
.rpm-label-note{
	color: #EA5004;
}
/* 单行表单列表 */
.rpm-form-one-col-box li{
	width: 100%;
}
.rpm-form-one-col-box li label{
	width: 150px;
}
.rpm-form-one-col-btn-box{
	padding-left: 180px;
}
/* 2列表单 */
.rpm-form-two-col-box li{
	width: 50%;
	min-width: 450px;
}
.rpm-form-two-col-box li label{
	width: 120px;
}
.rpm-form-two-col-btn-box{
	padding-left: 150px;
}
/* 多行文本 */
.rpm-form-box .rpm-from-textarea-row{
	width: 100%;
	height: auto;
}
.rpm-from-textarea-row label{
	vertical-align: top;
}
.rpm-from-textarea-row textarea{
	width: 63.5%;
	height: 70px;
}

/* 列表部分 */
.rpm-list-table{
	width: 100%;
}
.rpm-list-table th{
	min-width: 80px;
	height: 30px;
	line-height: 30px;
	background: #09c;
	border: 1px solid #f0f3f7;
	color: #eee;
}
.table-col-five th{
	width: 15%;
}
.rpm-list-table td{
	padding: 6px 8px;
	border: 1px solid #f0f3f7;
	text-align: center;
}
.rpm-list-table .rpm-second-category-td{
	padding-left: 32px;
}
.rpm-table-single-row td{
	background: #fff;
}
.rpm-table-double-row td{
	background: #e7e9eb;
}
#rpm-content .rpm-text-align-left{
	text-align: left;
}
.rpm-handle_btn, .rpm-handle_abled_btn{
	margin-right: 4px;
	color: #555;
}
.rpm-handle_btn i{
	display: inline-block;
	width: 16px;
	margin-bottom: 4px;
	line-height: 1.1em;
	vertical-align: middle;
}
.rpm-handle_abled_btn{
	vertical-align: middle;
}
.rpm-thumb-list-box{
	margin: 0 16px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}
.rpm-thumb-list-box li{
	float: left;
	padding: 12px;
	margin: 16px 16px auto auto;
	border: 1px solid #ccc;
}
.rpm-thumb-list-box li p{
	padding-top: 8px;
}
.rpm-thumb-box{
	display: inline-block;
	display: table-cell;
	width: 160px;
	height: 160px;
	vertical-align: middle;
}
.rpm-thumb-box img{
	width: 100%;
	vertical-align: middle;
}
.del_img_box{
	margin: -14px auto 4px auto;
	text-align: center;
}
.icon-btn-add, .icon-btn-del {
	margin: 0 10px;
	font-weight: 700;
	cursor: pointer;
	background: #ddd;
}


/* 标签部分样式 */
#rpm-form-label-box{
	padding: 1em;
}
#rpm-form-label-box a{
	display: inline-block;
	padding: 0 .6em;
	margin-right: 6px;
	border: 1px solid #ccc;
	color: #333;
}
#rpm-form-label-box .select{
	border-color: #EA5004;
}
.rpm-label-checkbox{
	display: none;
}



/* 页码部分样式 */
#page_list a{
	padding: 4px 8px;
	border: 1px solid #ccc;
	color: #333;
}
#page_list .page_curr, #page_list a:hover{
	color: #fff;
	background: #EA5004;
}
#page_list .page_disable{
	color: #fff;
	background: #ccc;
}
#page_list a.page_curr:hover{
	cursor: default;
}
#page_list a.page_disable:hover{
	color: #fff;
	background: #ccc;
	cursor: default;
}
#page_list span{
	padding: 4px 8px;
}

/*index*/
.rpm-row-box li{
	float: left;
	width: 25%;
	min-width: 160px;
	height: 26px;
	padding-top: 4px;
}
.rpm-span-margin{
	margin-left: 20px;
	color: #999;
}















