@charset "utf-8";

.idx-layer-box, .idx-center-layer-box{
	padding: 40px 0;
}
.idx-center-layer-box{
	text-align: center;
}
.idx-layer-blue-tit, .idx-layer-entit, .idx-layer-desc{
	padding: 0 15%;
}
.idx-layer-blue-tit{
	font-size: 36px;
	font-weight: 700;
	color: #029be9;
	line-height: 1.4;
}
.idx-layer-entit{
	font-family: "方正兰亭超细黑简体", "微软雅黑";
	font-size: 22px;
	color: #4f4f4f;
	line-height: 1.4;
}
.idx-layer-desc{
	margin: 10px 0;
	font-size: 14px;
	line-height: 1.4;
}

.idx-indent{
	padding: 0 10px;
}
.idx-gary-bg{
	background: #E8E8E8;
}
.idx-l-b-tit{
	margin-top: 15px;
	font-size: 22px;
	color: #029BE9;
}
.idx-shortline{
	width: 20%;
	margin: 10px auto;
	border-top: 2px solid #029BE9;
}
.idx-l-b-desc{
	font-size: 15px;
	line-height: 1.4;
}
.idx-l-b-more{
	font-family: "幼圆", "微软雅黑";
	font-size: 14px;
	width: 60%;
	height: 40px;
	line-height: 40px;
	border: #bebebe solid 1px;
	margin: 20px auto 0;
	background: #FFF;
}
.idx-ad-bg{
	padding: 30px 0;
	background: #191a1f;
	color: #fff;
	font-family: "幼圆", "微软雅黑";
	font-size: 14px;
	text-align: center;
}
.idx-ad-tit, .idx-ad-entit, .idx-ad-desc{
	width: 80%;
	margin: auto;
}
.idx-ad-tit{
	font-size: 22px;
}
.idx-ad-blue-tit{
	color: #029BE9;
	font-weight: 700;
}
.idx-ad-entit{
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 1.2;
	padding-bottom: 12px;
}
.idx-list-curr{
	background: #029BE9;
}
.idx-list-curr .idx-shortline{
	border-color: #fff;
}
.idx-list-curr .idx-l-b-tit, .idx-list-curr .idx-l-b-desc{
	color: #fff;
}

/* 网站部分 */
.idx-website-l{
	float: left;
	margin-top: 10px;
	width: 30%;
	height: 340px;
	background: #029BE9;
}
.idx-website-l p{
	padding: 20px;
}
.idx-website-r{
	float: right;
	width: 70%;
}
.idx-website-r li a{
	height: 340px;
}

/*成功案例标题与列表部分*/
.idx-case-entit, .idx-case-tit, .idx-case-desc{
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
.idx-case-entit{
	font-family: "方正兰亭超细黑简体", "微软雅黑";
	font-size: 32px;
}
.idx-case-tit{
	font-size: 36px;
	line-height: 1.2;
	padding-bottom: 10px;
}
.idx-case-desc{
	margin: 12px auto;
	font-family: "幼圆", "微软雅黑";
	font-size: 18px;
	line-height: 1.6;
}
.idx-button-box{
	text-align: center;
}
.idx-button-box a{
	display: inline-block;
	width: 160px;
	margin: 25px;
	padding: 12px 40px;
	border-radius: 5px;
	font-size: 18px;
	color: #484848;
	background: #e8e8e8;
}
.idx-button-box a:hover{
	background: #029be9;
	color: #FFF;
}
.idx-c-l-tit{
	margin: 12px 12px 2px 12px;
	font-size: 16px;
}
.idx-c-l-desc{
	margin: 0 12px 4px 12px;
	font-size: 15px;
	color: #9f9f9f;
	line-height: 1.4;
}
.idx-c-l-tit, .idx-c-l-desc{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

/*成功案例按钮部分*/
.button_l_box {
	text-align: center;
}
.button_l_box a {
	margin: 20px 10px 0;
	display: inline-block;
}
.button_left_hover {
	background: url(../img/button_left.png) no-repeat;
	width: 70px;
	height: 70px;
}

.button_right_hover {
	background: url(../img/button_right.png) no-repeat;
	width: 70px;
	height: 70px;
}

.button_a_hover {
	background: url(../img/button_a.png) no-repeat;
	width: 70px;
	height: 70px;
}

.button_left_hover:hover {
	background: url(../img/button_left_hover.png) no-repeat;
	width: 70px;
	height: 70px;
}
.button_right_hover:hover {
	background: url(../img/button_right_hover.png) no-repeat;
	width: 70px;
	height: 70px;
}

.button_a_hover:hover {
	background: url(../img/button_a_hover.png) no-repeat;
	width: 70px;
	height: 70px;
}

/* 新闻部分样式 */
.idx-news-box{
	background: #eee;
}
.news-col-box{
	padding: 15px 20px;
}
.idx-news-col-info{
	margin-bottom: 16px;
	border-bottom: 1px solid #222;
}
.idx-news-col-info p{
	margin-top: 12px;
	font-size: 18px;
	color: #9f9f9f;
}
.idx-news-col-info h4{
	float: left;
	margin: 0 0 6px 0;
	font-size: 18px;
}
.idx-news-col-info a{
	float: right;
	margin-top: 4px;
	font-size: 14px;
	line-height: 1.2;
}
.idx-news-col-info a:hover{
	color: #888;
}
.idx-news-col-info img{
	padding: 0 4px 0 0;
}
.news-col-list{
	font-size: 14px;
}
.news-col-list a:hover{
	text-decoration: underline;
}

/* 小于1024 手机端以及平板 */
@media only screen and (max-width: 1024px){
	.idx-website-l{
		float: none;
		width: auto;
		margin: 10px;
	}
	.idx-website-r{
		width: 100%;
	}
}

/* 小于768 手机端 */
@media only screen and (max-width: 767px){
	.idx-layer-blue-tit{
		font-size: 22px;
	}
	.idx-layer-entit, .idx-case-entit, .idx-case-tit{
		font-size: 18px;
	}
	.idx-ad-tit{
		font-size: 17px;
	}
	.idx-ad-entit{
		font-size: 14px;
	}
	.idx-ad-desc{
		font-size: 12px;
		line-height: 1.4;
	}
	.idx-case-desc{
		margin: 4px auto;
		font-size: 14px;
		line-height: 1.4;
	}
	.idx-button-box a{
		width: auto;
		margin: 5px;
		padding: 10px;
		font-size: 14px;
	}
	.idx-c-l-tit, .idx-c-l-desc{
		margin: 4px 0 0 0;
		font-size: 12px;
		line-height: 1.2;
	}
	.idx-c-l-tit{
		margin-top: 10px;
	}
	.button_l_box, .idx-contact-box{
		display: none;
	}
	.idx-news-col-info p{
		font-size: 14px;
	}
	.idx-news-col-info h4{
		font-size: 15px;
	}
	.news-col-list{
		font-size: 12px;
		line-height: 1.8;
	}
	.idx-website-l{
		height: auto;
		margin: 5px;
	}
	.idx-website-r li a{
		height: auto;
	}
	.idx-l-b-tit{
		font-size: 14px;
	}
	.idx-l-b-desc{
		font-size: 12px;
	}
	.idx-l-b-more{
		width: 70%;
		font-size: 12px;
		margin: 12px auto 6px auto;
		height: auto;
		line-height: 2.4;
	}
	.idx-news-box .three-list-box li{
		width: 100%;
	}
	.idx-layer-box, .idx-center-layer-box{
		padding: 20px 0;
	}
	.idx-indent{
		padding: 0 5px;
	}
	.site-box{
		margin: auto 5px;
	}
}