@charset "utf-8";

/* 样式重写部分 */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}

html {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	font-size: 100px;
}

html,
body {
	height: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
select,
button,
textarea,
p,
blockquote,
th,
td,
i,
canvas {
	list-style-type: none;
	text-decoration: none;
	border: none;
	height: auto;
	outline: none;
}

body,
button,
input,
select,
textarea {
	font-family: "Akkuratlight", "Helvetica", "sans-serif", "museo-sans", "Microsoft YaHei";
	font-size: .12rem;
	line-height: 1.6;
	color: #4f4f4f;
	background-color: #FFF;
}

article,
aside,
footer,
figcaption,
header,
menu,
hgroup,
nav,
section,
big {
	display: block;
	position: relative;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea {
	resize: none;
}

img {
	border: none;
	max-width: 100%;
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	line-height: 1.3;
	text-transform: uppercase;
	margin: .06rem 0;
}

b,
strong {
	font-weight: 700;
}

a,
a:hover {
	color: #555;
	text-decoration: none;
}


/* 通用样式部分 */

.full-wrap, .indent-wrap, .indent-half-wrap{
	width: 12rem;
	margin: 0 auto;
}

.clearfix:after,
.clearfix:before {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both
}

.clearfix {
	/* [disabled]zoom:1; */
}


/* 头部样式 */
.site-info{
	padding: .25rem 0;
}
.logo {
	float: left;
	margin-top: 10px;
	width: 2.5rem;
}

.logo img {
	width: 100%;
}
.header-info {
	float: right;
	padding-top: 10px;
	text-align: right;
}
.vertical-bar {
	display: inline-block;
	padding: 0 8px;
	font-size: .23rem;
}
.header-slogan {
	font-size: 20px;
	font-weight: 700;
}

.header-slogan * {
	vertical-align: top;
}
.header-telephone {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3;
}

.header-telephone a {
	color: #af251c;
}

.header-telephone a:hover {
	text-decoration: underline;
}

.dividing-line {
	width: 100%;
	height: 0;
	border-top: 1px solid #4f4f4f;
}

.nav-bg{
	background: #434142;
}
nav li {
	float: left;
	width: 12.5%;
	height: 50px;
	font-size: .16rem;
	line-height: 50px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
nav li a{
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #fff;
}
nav li a:hover {
	background: #029BE9;
	color: #fff;
}


/* 焦点图样式 */

.focus-figure-box {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.focus-figure-box li {
	line-height: 0;
}
.focus-figure-box li img{
	width: 100%;
}

.focus-figure-btn {
	position: absolute;
	width: 100%;
	bottom: .25rem;
	line-height: 0;
	text-align: center;
}

.focus-figure-btn span {
	display: inline-block;
	width: .15rem;
	height: .15rem;
	margin: 0 .05rem;
	border-radius: 50%;
	border: 1px solid #999;
	background: #fff;
	cursor: pointer;
}

.focus-figure-btn .f-f-b-on {
	border-color: #af251c;
	background: #af251c;
}

/* 快捷栏目样式 */
.quick-box{
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
}
.quick-box li{
	margin-top: 30px;
}
.quick-box li a{
	display: block;
	font-size: 18px;
	color: #747474;
	text-align: center;
	border: 1px solid #747474;
	margin: 0 20px;
	padding: 8px 0;
}
.quick-box li a img{
	display: none;
}
.quick-box li a p{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.ql-line{
	width: 30%;
	margin: 5px auto 8px auto;
	border-bottom: 2px solid #747474;
}
.ql-curr{
	background: #029be9;
}
.ql-curr, .ql-curr .ql-line{
	color: #fff !important;
	border-color: #fff !important;
}

/* 面包屑样式 */
.crumb{
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
}
.crumb span{
	margin: auto 4px;
}
.crumb a:hover{
	text-decoration: underline;
}

/* 多列样式 */
.two-list-box li, .three-list-box li, .four-list-box li{
	float: left;
}
.two-list-box li{
	width: 50%;
}
.three-list-box li{
	width: 33.33%;
}
.four-list-box li{
	width: 25%;
}
.interval-list li a{
	display: block;
	margin: 10px;
}
.indent-box{
	padding: 20px;
}
.case-list-box a{
	border: 5px solid #fff;
}
.case-list-box a:hover{
	border-color: #ccc;
}
.case-list-box img{
	width: 100%;
}
.search-more{
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
}
.search-more a{
	display: block;
	width: 18em;
	margin: 0 auto;
	line-height: 3;
	border: 1px solid #999;
}
.search-more a:hover{
	background-color: #029BE9;
	color: #fff;
	border-color: #029BE9;
}


/* 底部样式 */
.footer-nav-box {
	padding: 40px 0;
	background: #eee;
}
.footer-code{
	float: left;
	padding-right: 60px;
	text-align: center;
}
.footer-code p{
	margin-top: 10px;
	font-size: 16px;
}
.footer-nav-list{
	float: left;
	padding: 0 30px;
}
.footer-nav-list p{
	font-size: 14px;
}
.footer-nav-list .f-n-l-tit{
	font-size: 20px;
}
.f-n-l-bg-line{
	display:block;
	width: 4em;
	height: 0;
	font-size: 20px;
	border-top: 2px solid #c7c7c7;
}
.f-n-l-top-line{
	display:block;
	width: 2em;
	height: 0;
	margin-top: -2px;
	font-size: 20px;
	border-top: 2px solid #145bb5;
}
.f-l-b-l{
	float: left;
}
.footer-info, .f-l-b-r{
	float: right;
}
.footer-info-list{
	padding-bottom: 10px;
}
.f-i-l-sign{
	float: left;
	width: 60px;
	height: 60px;
	padding: 10px;
	margin-top: 10px;
	border-radius: 50%;
	background: #4d4948;
	text-align: center;
}
.f-i-l-msg{
	float: left;
	margin-left: 16px;
}
.f-i-l-m-tit{
	font-size: 16px;
}
.f-i-l-m-desc, .f-i-l-m-t-desc{
	font-size: 18px;
	font-weight: 700;
	line-height: 1.4;
}
.f-i-l-m-t-desc{
	font-size: 15px;
}
.footer-link-box {
	padding: 12px 0;
	border-top: 1px solid #fff;
	font-size: .14rem;
	background: #444142;
	text-align: center;
}

.footer-link-box *,
.footer-link-box a:hover {
	color: #c6c3c3;
}
.f-l-b-l b{
	margin-left: 2em;
	font-weight: 100;
}
.f-l-b-r i{
	margin: 0 8px 0 4px;
	border-left: 1px solid #ccc;
}

/* 移动端底部 */
.mobile-footer{
	position: fixed;
	width: 100%;
	bottom: 0;
	display: none;
}
.mobile-footer .four-list-box li{
	width: 25%;
}
.mobile-footer li a{
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #dcdcdc;
	font-size: 14px;
	border-right: 3px solid #fff;
}
.mobile-footer li:nth-of-type(4) a{
	border: 0;
	background: #dcdcdc url(../images/list.png) center no-repeat;
}
.m-f-a-curr{
	background-color: #029BE9;
}
.mobile-footer-nav{
	position: absolute;
	right: 0;
	bottom: 50px;
	z-index: 99;
	width: 50%;
	padding: 5px 0;
	background: #fff;
	display: none;
}
.mobile-footer-nav a{
	display: block;
	padding: 10px 0;
	font-size: 14px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.mobile-footer-cover{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.mobile-footer-list{
	position: fixed;
	width: 100%;
	bottom: 50px;
	text-align: center;
	background: #fff;
	z-index: 98;
	font-size: 14px;
	line-height: 2;
}
.mobile-footer-list div{
	display: none;
	padding: 30px 0 20px 0;
}
.mobile-footer-list div p:nth-of-type(2){
	font-size: 25px;
	color: #000;
}
.mobile-footer-list div p:nth-of-type(6){
	font-size: 20px;
}


/* 联系我们样式 */
#cotactform{
	margin-top: 30px;
}
#cotactform .f-l-b-l, #cotactform .f-l-b-r{
	width: 48%;
}
.c-c-endesc{
	font-size: 24px;
	font-weight: 700;
	color: #222;
	line-height: 1.4;
}
.c-c-cndesc{
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 1.4;
}
#cotactform .f-l-b-l label{
	display: inline-block;
	margin-top: -4px;
	width: 32%;
	font-size: 15px;
	line-height: 2.2;
	overflow: hidden;
}
#cotactform .f-l-b-r label{
	margin-right: 20px;
	font-size: 15px;
}
#cotactform .f-l-b-r input, #cotactform .f-l-b-r textarea{
	width: 100%;
    padding: 8px 1em;
    margin: 8px 0;
    font-size: 15px;
    border: 1px solid #ccc;
}
#cotactform label input{
	width: auto !important;
	margin-right: 4px;
}
.c-c-r-info{
	float: left;
	font-size: 14px;
}
.c-c-r-btn{
	float: right;
}
#cotactform .c-c-r-btn input{
	margin: 2px auto;
	width: 150px;
	background: #029BE9;
	color: #fff;
	border: 0;
	cursor: pointer;
}

/* 栏目样式 */
.column-title{
	padding: 30px 0;
	text-align: center;
}
.column-layer-line
{
	border-top: 1px solid #ccc;
}
.column-title p{
	padding: 0 10%;
	font-size: 16px;
}
.column-title h1, .column-title .column-title-ltit{
	padding: 0 10%;
	font-size: 30px;
	font-weight: 700;
}
.column-title i{
	display: block;
	width: 10em;
	border-bottom: 1px solid #ccc;
	margin: 15px auto;
}
.column-desc{
	margin-top: 6px;
}
.why-box li a{
	margin: 0 40px 40px 40px;
}
.why-box img{
	margin: 0 auto;
}
.why-desc{
	margin-top: 12px;
	font-size: 15px;
	line-height: 1.4;
}
.service-box .indent-box{
	padding: 0 20px 20px 20px;
}
.service-box p img{
	margin-bottom: 10px;
}
.service-box p a{
	text-align: center;
	margin: 0;
	font-size: 15px;
	line-height: 1.6;
}
.service-box p a:hover{
	color: #029BE9;
}
.list-layer{
	padding: 20px 0;
}

/* 文章列表样式 */
.article-list-layer, .content-layer{
	padding: 20px 0 40px 0;
}
.article-list-layer .article-box{
	padding-top: 0;
}
.article-list-layer .indent-box{
	display: block;
	padding: 0;
	margin: 15px 12px;
	font-size: 14px;
	line-height: 2;
}
.article-list-layer .indent-box p{
	margin-top: 6px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

/* 页码样式 */
.matrix-pager{
	padding: 30px 15px;
	font-size: 14px;
}
.matrix-pager a{
	display: inline-block;
	padding: 6px 20px 4px 20px;
	border: 1px solid #ccc;
}
.matrix-pager a:hover{
	background: #029BE9;
	border-color: #029BE9;
	color: #fff;
}
.page_disable{
	background: #d9d9d9;
}
.matrix-pager .page_curr, .matrix-pager a.page_curr:hover{
	background: #EA5004;
	border-color: #EA5004;
	color: #fff;
}
.matrix-pager a.page_disable:hover{
	background: #d9d9d9;
	border-color: #ccc;
	color: #555;
}

/* 文章内容样式 */
.article-box {
	float: left;
	width: 75%;
	padding: 15px 0;
}

.article-box h1 {
	padding-bottom: 15px;
	font-size: 24px;
	text-align: center;
}

.article-info {
	line-height: 1.4;
	text-align: center;
}
.article-info *{
	font-size: 12px;
}

.article-info span {
	margin: 0 6px;
	white-space: nowrap;
}

.article-content {
	margin-top: 20px;
	padding: 18px 0;
	border-top: 1px dashed #222;
	font-size: 14px;
}

/* 文章关联推荐样式 */
.article-seo-idx{
	margin-top: 20px;
	padding: 15px 0;
	border-top: 1px solid #000;
	font-size: 14px;
}
.prev-article{
	float: left;
}
.next-article{
	float: right;
}
.push-arc-tit{
	margin-top: 50px;
	padding-bottom: 10px;
	font-size: 18px;
	color: #000;
}
.article-box .article-content a{
	color:#4f4f4f;
}


/* 右侧菜单样式 */
.sidebar {
	float: right;
	width: 23.4%;
	margin-top: 15px;
	background: #f5f5f5;
}

.sidebar-title {
	padding: 0 12px;
	font-size: 16px;
	line-height: 3;
	border-bottom: 1px solid #4f4f4f;
}

.dot-list-box,
.sidebar-content {
	padding: 15px;
}

.dot-list-box li {
	font-size: 14px;
}

.sidebar-subtitle-title {
	font-size: 15px;
	line-height: 1;
}

.sidebar-sub-list {
	padding: 15px 0;
}

.sidebar-sub-list a {
	float: left;
	width: 33.3%;
	margin-bottom: 10px;
}

.sidebar-sub-list a i {
	font-size: 55ox;
	line-height: 1;
}

.sidebar-sub-list a p {
	width: 90%;
	padding: 0 4px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


/* 重置小于版面宽的情况 */
@media only screen and (max-width: 1200px){
	.full-wrap, .indent-wrap, .indent-half-wrap{
		width: auto;
	}
	.indent-wrap{
		margin: 0 10px;
	}
}

/* 小于1024 手机端以及平板 */
@media only screen and (max-width: 1024px){
	footer{
		padding-bottom: 70px;
	}
	.footer-nav-box, .footer-link-box, .sidebar{
		display: none;
	}
	.mobile-footer{
		display: block;
	}
	.header-info{
		padding-top: 8px;
	}
	.article-box{
		float: none;
		width: auto;
		padding: 20px;
	}
	.list-layer{
		padding: 20px 5px;
	}
	.article-list-layer{
		padding: 15px 0;
	}
	.article-list-layer .article-box{
		padding: 0 8px;
	}
	.matrix-pager{
		padding: 30px 12px;
	}
}

/* 小于768 手机端 */
@media only screen and (max-width: 767px){
	/*
	*{
		font-family: "Akkuratlight", "Helvetica", "sans-serif", "museo-sans", "Microsoft YaHei" !important;
	}
	*/
	.indent-half-wrap{
		width: auto;
		margin: auto 5px;
	}
	.header-info{
		padding-top: 0;
	}
	.nav-bg, .header-telephone, .quick-box li p{
		display: none;
	}
	.logo{
		width: 135px;
		margin: 5px 0;
	}
	.header-slogan{
		margin-top: 15px;
		font-size: 12px;
		font-weight: 100;
		color: #000;
	}
	.four-list-box li, .three-list-box li, .case-list-box li{
		width: 50%;
	}
	.two-list-box li{
		width: 100%;
	}
	.interval-list li a{
		margin: 5px;
	}
	.four-list-box .indent-box{
		padding: 8px;
	}
	#cotactform .f-l-b-l, #cotactform .f-l-b-r, #cotactform .f-l-b-l label{
		width: 100%;
	}
	.c-c-cndesc, #cotactform .f-l-b-l label{
		font-size: 14px;
	}
	.quick-box{
		padding-bottom: 12px;
	}
	.quick-box li{
		width: 25%;
		margin-top: 12px;
	}
	.quick-box li a{
		margin: 0 5px;
		padding: 5px;
		font-size: 12px;
		color: #fff;
		border: 0;
		border-radius: 4px;
	}
	.quick-box li:nth-of-type(1) a{
		background: #f7a340;
	}
	.quick-box li:nth-of-type(2) a{
		background: #f19abd;
	}
	.quick-box li:nth-of-type(3) a{
		background: #74c5f0;
	}
	.quick-box li:nth-of-type(4) a{
		background: #ff776a;
	}
	.quick-box li a img{
		display: block;
		margin: 0 auto;
	}
	.quick-box li p:nth-of-type(3){
		display: block;
	}
	.case-list-box{
		padding: 0 5px;
	}
	.case-list-box a{
		border: 0;
	}
	#cotactform{
		margin-top: 10px;
	}
	.c-c-endesc{
		font-size: 15px;
	}
	.column-def-layer{
		padding-bottom: 10px;
	}
	.search-more a{
		font-size: 14px;
	}
	.column-title h1, .column-title .column-title-ltit{
		font-size: 18px;
	}
	.column-title i{
		width: 5em;
	}
	.column-title p{
		font-size: 14px;
	}
	.why-box li a{
		margin: 10px 10px 30px 10px;
	}
	.why-desc{
		font-size: 12px;
	}
	.list-layer{
		padding: 5px 0;
	}
	.content-layer{
		padding: 10px 0;
	}
	.article-box{
		padding: 10px;
	}
	.article-box h1{
		font-size: 16px;
		padding-bottom: 5px;
	}
	.push-arc-tit{
		margin-top: 30px;
		font-size: 15px;
	}
	.article-seo-idx li a{
		font-size: 12px;
	}
	.matrix-pager{
		padding: 10px 10px 0 10px;
	}
	.matrix-pager a{
		margin-top: 5px;
		padding: 2px 8px 0 8px;
		font-size: 12px;
	}
	.article-list-layer{
		padding: 0 0 10px 0;
	}
	.article-list-layer .article-box{
		padding: 0;
	}
}

/* 768~1024 平板端 */
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.header-slogan{
		font-size: 15px;
	}
	.header-telephone, .quick-box li a{
		font-size: 14px;
	}
	#cotactform .f-l-b-l label{
		width: 48%;
	}
}